## The Battle of the Neighborhoods - Week 1


### Introduction & Business Problem :
#### Problem Background:
Dubai city, is that the most thickly settled city within the UAE. it's multicultural. It provides ton of business opportunities and business friendly environment. it's attracted many alternative players into the market. it's a world hub of business and commerce. the town may be a major center for banking and finance, retailing, world trade, transportation, tourism, real estate, new media, ancient media, advertising, legal services, accountancy, insurance, theater, fashion, and therefore the arts in the UAE.

This also means the market is very competitive. because it is highly developed city so price of doing business is additionally one of the highest. Thus, any new business venture or growth has to be analyzed carefully. The insights derived from analysis will offer sensible understanding of the business atmosphere that facilitate in strategically targeting the market. this can help in reduction of risk. and therefore the come back on Investment are going to be reasonable.

#### Problem Description:
An agent, hired me to find out which type of business would be good to invest in Duabi, and asked me to pick a location for that business.

To do that. Various factors need to be studied in order to decide on the Location such as :
<ol>
    <li> Neighborhoods Population</li>
    <li> Duabi Demographics</li>
    <li> Locations in Dubai</li>
    <li> Startup costs.</li>
    <li> Capital and Finance</li>
    <li> Compititions </li>
    </ol>
    
Even though well funded agent. need to choose the correct location to start its first venture.If this is successful they can replicate the same in other locations. First move is very important, thereby choice of location is very important.

##### Target Audience:
To advocate the right location. Agent has appointed Pine Tree State to guide of the information Science team. the target is to find and recommend to the management that neighborhood of metropolis are going to be most suitable option to begin a replacement business. The Management additionally expects to know the principle of the recommendations made.

This would interest anyone who wants to start a new business in Dubai.

#### Success Criteria:
The fulfillment standards of the undertaking can be a terrific advice of borough/Neighborhood preference to retailers primarily based totally on Lack of such funding in that area and nearest providers of ingredients.

### Next you can see the data theat I'm going to use it.

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_communities_in_Dubai"
data  = requests.get(url).text

In [7]:
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

In [10]:
Dubai_Neighbors = pd.DataFrame(columns=["Community_Number", "Community_Name", "Community_Population"])
table=soup.find('table')
for row in table.findAll('tr'):
    col = row.find_all("td")
    if (col != []):
        CommunityNumber = col[0].text.strip() # .strip() used to remove any tag comes with the text
        CommunityName = col[1].text.strip() # .strip() used to remove any tag comes with the text
        CommunityPopulation = col[4].text.strip() # .strip() used to remove any tag comes with the text
        if(CommunityNumber !="" and CommunityName != "" and CommunityPopulation!=""):
            Dubai_Neighbors = Dubai_Neighbors.append({"Community_Number":CommunityNumber,
                                                      "Community_Name":CommunityName,
                                                      "Community_Population":CommunityPopulation}, ignore_index=True)
pd.set_option('display.max_rows', None)
Dubai_Neighbors

    Community_Number               Community_Name Community_Population
0                126                     Abu Hail               21,414
1                283                       Aleyas                1,706
2                333                    Al Bada'a               18,816
3                122                    Al Baraha                7,823
4                373              Al Barsha First                 1248
5                376             Al Barsha Second                 1248
6                375              Al Barsha Third                 1248
7                671        Al Barsha South First                 1248
8                672       Al Barsha South Second                 1248
9                673        Al Barsha South Third                 1248
10               681       Al Barsha South Fourth                 1248
11               684        Al Barsha South Fifth                 1248
12               114                    Al Buteen                2,364
13               111                  Al Corniche                1,135
14               113                   Al Dhagaya               10,896
15               945                     Al Fagaa                   22
16               214                   Al Garhoud                4,466
17               313            Al Hamriya, Dubai               15,104
18               131              Al Hamriya Port                   83
19               322                   Al Hudaiba                7,699
20               326                    Al Jaddaf                2,990
21               323                  Al Jafiliya               11,619
22               318                    Al Karama               45,674
23               128                   Al Khabisi                6,737
24               324                     Al Kifaf                   35
25               134                    Al Mamzar                2,260
26               363                    Al Manara                2,147
27               317                  Al Mankhool               16,013
28               347                    Al Merkad                  139
29               321                      Al Mina                4,183
30               262              Al Mizhar First                4,326
31               263             Al Mizhar Second                4,326
32               124                Al Muraqqabat               32,395
33               117                     Al Murar               19,831
34               123                   Al Muteena               18,094
35               231               Al Nahda First                  600
36               241              Al Nahda Second                  600
37               319               Al Nasr, Dubai                2,469
38               354                Al Quoz First               16,719
39               364     Al Quoz Industrial First               16,719
40               369    Al Quoz Industrial Fourth               16,719
41               365    Al Quoz Industrial Second               16,719
42               368     Al Quoz Industrial Third               16,719
43               355               Al Quoz Second               16,719
44               358                Al Quoz Third               16,719
45               232              Al Qusais First               15,502
46               248   Al Qusais Industrial Fifth                    1
47               242   Al Qusais Industrial First                2,099
48               247  Al Qusais Industrial Fourth                  206
49               243  Al Qusais Industrial Second                2,090
50               246   Al Qusais Industrial Third                  162
51               233             Al Qusais Second                7,657
52               234              Al Qusais Third                7,506
53               316                     Al Raffa               15,344
54               112                       Al Ras                6,812
55               216                 Al Rashidiya               22,326
56               119                     Al Rigga                5,684
57               115                    Al Sabkha                2,627
58               353                Al Safa First                6,291
59               357               Al Safa Second                6,291
60               372              Al Safouh First                3,337
61               382             Al Safouh Second                3,337
62               334                     Al Satwa               30,147
63               311                 Al Shindagha                   16
64               312            Al Souq Al Kabeer               26,405
65               226                Al Twar First               18,457
66               227               Al Twar Second               18,457
67               228                Al Twar Third               18,457
68               425             Al Warqa'a Fifth                    5
69               421             Al Warqa'a First                    5
70               424            Al Warqa'a Fourth                    5
71               422            Al Warqa'a Second                    5
72               423             Al Warqa'a Third                    5
73               343                      Al Wasl               22,153
74               132                    Al Waheda                9,856
75               116                   Ayal Nasir               13,077
76               346                 Business Bay              191,000
77               611                     Bu Kadra                  195
78               724                      Enkhali                    0
79               127                   Hor Al Anz               40,342
80               133              Hor Al Anz East               40,342
81               383                  Jebel Ali 1               31,634
82               384                  Jebel Ali 2               31,634
83               599         Jebel Ali Industrial               31,634
84               332                Jumeira First               26,499
85               342               Jumeira Second               26,499
86               352                Jumeira Third               26,499
87               251                       Mirdif                8,115
88               245            Muhaisanah Fourth               90,870
89               264            Muhaisanah Second               90,870
90               244             Muhaisanah Third               90,870
91               261              Muhaisnah First               90,870
92               416                Nad Al Hammar                2,563
93               617         Nadd Al Shiba Fourth                2,563
94               615         Nadd Al Shiba Second                2,563
95               616          Nadd Al Shiba Third                  680
96               213                   Nad Shamma                1,208
97               118                         Naif               28,571
98               129                   Port Saeed                  448
99               125              Rigga Al Buteen                1,394
100              335               Trade Centre 1                4,358
101              336               Trade Centre 2                3,353
102              367                 Umm Al Sheif                6,263
103              314             Umm Hurair First                4,428
104              315            Umm Hurair Second                4,428
105              215                   Umm Ramool                4,629
106              356             Umm Suqeim First               16,459
107              362            Umm Suqeim Second               16,459
108              366             Umm Suqeim Third               16,459
109              621                 Warsan First                1,421
110              622                Warsan Second                1,421
111              861                       Yaraah                1,222
112              325               Za'abeel First                5,283
113              337              Za'abeel Second                5,283

In [9]:
Dubai_Neighbors.shape

(114, 3)